body {
  height: 100vh;
  margin: 0;
}
#root {
  height: 100%;
}
.glass-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.content {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}

label {
  display: block;
}

input {
  width: 100%;
  border: none;
  border-radius: 5px;
}
.ball {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
